.StepsArea {
  background: url('../../assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 172px;

  padding-top: 32px;
}

.stepsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.stepGroup {
  display: none;
}

.stepOrder {
  text-transform: uppercase;
  color: var(--clr-light-blue-bg);
  font-size: var(--fs-12);
}

.stepName {
  text-transform: uppercase;
  color: var(--clr-white-text);
  letter-spacing: 1px;
  font-size: var(--fs-14);
}

.number {
  font-weight: var(--fw-bold);
  font-size: var(--fs-14);
  color: var(--clr-white-bg);
  padding: 8px 12px;
  border: 1px solid var(--clr-white-bg);
  border-radius: 50%;
}

.numSelected {
  background-color: var(--clr-light-blue-bg);
  color: var(--clr-denim-text) !important;
  border: 1px solid var(--clr-light-blue-bg);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 1050px) {
  .StepsArea {
    background: url('../../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;

    padding: 40px 32px 0;
  }

  .stepsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 16px;
  }

  .stepGroup {
    display: block;
  }

  .stepItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  .number {
    font-weight: var(--fw-bold);
    font-size: var(--fs-14);
    color: var(--clr-white-bg);
    padding: 8px 14px;
    border: 1px solid var(--clr-white-bg);
    border-radius: 50%;
  }
}
