.Button {
  font-size: var(--fs-14);
  font-family: var(--ff-main);

  border: 1px solid var(--clr-denim-bg);
  border-radius: 4px;
  padding: 12px 16px;

  cursor: pointer;
}

.nextStep {
  color: var(--clr-white-text);
  background: var(--clr-denim-bg);
  border: 1px solid var(--clr-denim-bg);
}

.prevStep {
  color: var(--clr-grey-text);
  background: transparent;
  border: none;
  padding: 0;
}

.confirm {
  color: var(--clr-white-text);
  background: var(--clr-purplish-blue-bg);
  border: 1px solid var(--clr-purplish-blue-bg);
}
