.Button {
  font-size: var(--fs-14);
  font-family: var(--ff-main);

  border: 1px solid var(--clr-denim-bg);
  border-radius: 4px;
  padding: 12px 16px;

  cursor: pointer;
}

.Button:disabled {
  cursor: not-allowed;
}

.nextStep {
  color: var(--clr-white-text);
  background: var(--clr-denim-bg);
  border: 1px solid var(--clr-denim-bg);
  margin-left: auto;
}

.nextStep:hover,
.nextStep:active {
  background: var(--clr-more-purplish-blue-bg);
  border: 1px solid var(--clr-more-purplish-blue-bg);
}

.prevStep {
  color: var(--clr-grey-text);
  background: transparent;
  border: none;
  padding: 0;
}

.prevStep:hover,
.prevStep:active {
  color: var(--clr-denim-text);
}

.confirm {
  color: var(--clr-white-text);
  background: var(--clr-purplish-blue-bg);
  border: 1px solid var(--clr-purplish-blue-bg);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 1050px) {
  .Button {
    font-size: var(--fs-16);
    padding: 16px 32px;
    border-radius: 8px;
  }
}
