.Container {
  background: var(--clr-magnolia-bg);
  height: 100vh;
}

.cardContainer {
  margin-top: -73px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 1050px) {
  .Container {
    /* test */
    background: var(--clr-white-bg);

    width: 975px;
    height: 620px;

    border-radius: 16px;

    padding: 16px;

    box-shadow: 0px 0.4px 0.4px hsl(var(--clr-shadow-color) / 0.36),
      -0.1px 1.8px 1.9px -1.4px hsl(var(--clr-shadow-color) / 0.32),
      -0.6px 7.1px 7.6px -2.9px hsl(var(--clr-shadow-color) / 0.29);

    display: grid;
    grid-template-areas:
      'steps card'
      'steps navBtns';
    grid-template-rows: auto;
    grid-template-columns: 30% 1fr;
  }

  .stepsWrapper {
    grid-area: steps;
  }

  .cardContainer {
    grid-area: card;

    margin-top: unset;
  }

  .navigationBtnsWrapper {
    grid-area: navBtns;
    align-self: end;
  }
}
