.ThankYou {
  composes: flex--col--fs-c from '../../assets/global.css';
  gap: 16px;
  padding: 50px 0;
}

.copy {
  composes: flex--col--fs-c from '../../assets/global.css';
  gap: 8px;
  text-align: center;
}

.icon {
  width: 56px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 1050px) {
  .ThankYou {
    gap: 32px;
    padding: 0;
    margin-top: 124px;
  }

  .copy {
    gap: 16px;
  }
}
