.App {
  /* background: var(--clr-white-bg); */
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 1050px) {
  .App {
    min-height: 100%;

    display: grid;
    justify-content: center;
    align-content: center;
  }
}
