@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  /* TYPOGRAPHY */
  --ff-main: 'Ubuntu', sans-serif;

  /* --fw-light: 300; */
  --fw-regular: 400;
  --fw-medium: 500;
  /* --fw-semi-bold: 600; */
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Space - Sizes */
  --space-none: 0;
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;

  /* COLORS */

  /* Text */
  --clr-white-text: hsla(0, 0%, 100%, 1);
  --clr-denim-text: hsla(213, 96%, 18%, 1);
  --clr-grey-text: hsla(231, 11%, 63%, 1);

  /* Background  */
  --clr-white-bg: hsla(0, 0%, 100%, 1);
  --clr-alabaster-bg: hsl(231, 100%, 99%);
  --clr-magnolia-bg: hsl(217, 100%, 97%);
  --clr-light-gray-bg: hsl(229, 24%, 87%);

  /* Others */
  --clr-purplish-blue-bg: hsl(243, 100%, 62%);
  --clr-pastel-blue-bg: hsl(228, 100%, 84%);
  --clr-light-blue-bg: hsl(206, 94%, 87%);
  --clr-strawberry-red-bg: hsl(354, 84%, 57%);
  --clr-black-bg: hsla(0, 0%, 0%, 1);
  --clr-border-input: hsla(231, 23%, 87%, 1);
}

body {
  background: var(--clr-magnolia-bg);

  color: var(--clr-grey-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.5625;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  color: var(--clr-denim-text);
}

.text {
  font-size: var(--fs-16);
}

.input-label {
  font-size: var(--fs-12);
  color: var(--clr-denim-text);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3px;
}

.input-strd {
  outline: none;
  border: 1px solid var(--clr-border-input);
  border-radius: 4px;
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
  color: var(--clr-grey-text);

  padding: 10px 16px;
}

/* ================== */
/* Utility styles */
/* ================== */

.info {
  display: flex;
  flex-direction: column;
  gap: var(--ver-mar--xxs);
}

/* ================== */
/* SECTIONS */
/* ================== */

/* =========================== */
/* Utility margins & paddings  */
/* =========================== */

/* .padding-none {
  padding: var(--space-none);
}
.padding-xs {
  padding: var(--space-xs);
}
.padding-s {
  padding: var(--space-s);
}
.padding-base {
  padding: var(--space-base);
}
.padding-m {
  padding: var(--space-m);
}
.padding-l {
  padding: var(--space-l);
}
.padding-xl {
  padding: var(--space-xl);
}
.padding-xxl {
  padding: var(--space-xxl);
}

.margin-none {
  margin: var(--space-none);
}
.margin-xs {
  margin: var(--space-xs);
}
.margin-s {
  margin: var(--space-s);
}
.margin-base {
  margin: var(--space-base);
}
.margin-m {
  margin: var(--space-m);
}
.margin-l {
  margin: var(--space-l);
}
.margin-xl {
  margin: var(--space-xl);
}
.margin-xxl {
  margin: var(--space-xxl);
}

/* Top paddings */
/* .padding-top-none {
  padding-top: var(--space-none);
}
.padding-top-xs {
  padding-top: var(--space-xs);
}
.padding-top-s {
  padding-top: var(--space-s);
}
.padding-top-base {
  padding-top: var(--space-base);
}
.padding-top-m {
  padding-top: var(--space-m);
}
.padding-top-l {
  padding-top: var(--space-l);
}
.padding-top-xl {
  padding-top: var(--space-xl);
}
.padding-top-xxl {
  padding-top: var(--space-xxl);
} */

/* Right paddings */
/* .padding-right-none {
  padding-right: var(--space-none);
}
.padding-right-xs {
  padding-right: var(--space-xs);
}
.padding-right-s {
  padding-right: var(--space-s);
}
.padding-right-base {
  padding-right: var(--space-base);
}
.padding-right-m {
  padding-right: var(--space-m);
}
.padding-right-l {
  padding-right: var(--space-l);
}
.padding-right-xl {
  padding-right: var(--space-xl);
}
.padding-right-xxl {
  padding-right: var(--space-xxl);
} */

/* Bottom paddings */
/* .padding-bottom-none {
  padding-bottom: var(--space-none);
}
.padding-bottom-xs {
  padding-bottom: var(--space-xs);
}
.padding-bottom-s {
  padding-bottom: var(--space-s);
}
.padding-bottom-base {
  padding-bottom: var(--space-base);
}
.padding-bottom-m {
  padding-bottom: var(--space-m);
}
.padding-bottom-l {
  padding-bottom: var(--space-l);
}
.padding-bottom-xl {
  padding-bottom: var(--space-xl);
}
.padding-bottom-xxl {
  padding-bottom: var(--space-xxl);
} */

/* Left paddings */
/* .padding-left-none {
  padding-left: var(--space-none);
}
.padding-left-xs {
  padding-left: var(--space-xs);
}
.padding-left-s {
  padding-left: var(--space-s);
}
.padding-left-base {
  padding-left: var(--space-base);
}
.padding-left-m {
  padding-left: var(--space-m);
}
.padding-left-l {
  padding-left: var(--space-l);
}
.padding-left-xl {
  padding-left: var(--space-xl);
}
.padding-left-xxl {
  padding-left: var(--space-xxl);
} */

/* Padding Vertical */
/* .padding-y-none {
  padding-top: var(--space-none);
  padding-bottom: var(--space-none);
}
.padding-y-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}
.padding-y-s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}
.padding-y-base {
  padding-top: var(--space-base);
  padding-bottom: var(--space-base);
}
.padding-y-m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}
.padding-y-l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}
.padding-y-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.padding-y-xxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
} */

/* Padding Horizontal */
/* .padding-x-none {
  padding-left: var(--space-none);
  padding-right: var(--space-none);
}
.padding-x-xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}
.padding-x-s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}
.padding-x-base {
  padding-left: var(--space-base);
  padding-right: var(--space-base);
}
.padding-x-m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}
.padding-x-l {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}
.padding-x-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
.padding-x-xxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
} */

/* Top margins */
/* .margin-top-none {
  margin-top: var(--space-none);
}
.margin-top-xs {
  margin-top: var(--space-xs);
}
.margin-top-s {
  margin-top: var(--space-s);
}
.margin-top-base {
  margin-top: var(--space-base);
}
.margin-top-m {
  margin-top: var(--space-m);
}
.margin-top-l {
  margin-top: var(--space-l);
}
.margin-top-xl {
  margin-top: var(--space-xl);
}
.margin-top-xxl {
  margin-top: var(--space-xxl);
} */

/* Right margins */
/* .margin-right-none {
  margin-right: var(--space-none);
}
.margin-right-xs {
  margin-right: var(--space-xs);
}
.margin-right-s {
  margin-right: var(--space-s);
}
.margin-right-base {
  margin-right: var(--space-base);
}
.margin-right-m {
  margin-right: var(--space-m);
}
.margin-right-l {
  margin-right: var(--space-l);
}
.margin-right-xl {
  margin-right: var(--space-xl);
}
.margin-right-xxl {
  margin-right: var(--space-xxl);
} */

/* Bottom margins */
/* .margin-bottom-none {
  margin-bottom: var(--space-none);
}
.margin-bottom-xs {
  margin-bottom: var(--space-xs);
}
.margin-bottom-s {
  margin-bottom: var(--space-s);
}
.margin-bottom-base {
  margin-bottom: var(--space-base);
}
.margin-bottom-m {
  margin-bottom: var(--space-m);
}
.margin-bottom-l {
  margin-bottom: var(--space-l);
}
.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}
.margin-bottom-xxl {
  margin-bottom: var(--space-xxl);
} */

/* Left margins */
/* .margin-left-none {
  margin-left: var(--space-none);
}
.margin-left-xs {
  margin-left: var(--space-xs);
}
.margin-left-s {
  margin-left: var(--space-s);
}
.margin-left-base {
  margin-left: var(--space-base);
}
.margin-left-m {
  margin-left: var(--space-m);
}
.margin-left-l {
  margin-left: var(--space-l);
}
.margin-left-xl {
  margin-left: var(--space-xl);
}
.margin-left-xxl {
  margin-left: var(--space-xxl);
} */

/* margin Vertical */
/* .margin-y-none {
  margin-top: var(--space-none);
  margin-bottom: var(--space-none);
}
.margin-y-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}
.margin-y-s {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}
.margin-y-base {
  margin-top: var(--space-base);
  margin-bottom: var(--space-base);
}
.margin-y-m {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}
.margin-y-l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}
.margin-y-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}
.margin-y-xxl {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
} */

/* margin Horizontal */
/* .margin-x-none {
  margin-left: var(--space-none);
  margin-right: var(--space-none);
}
.margin-x-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}
.margin-x-s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}
.margin-x-base {
  margin-left: var(--space-base);
  margin-right: var(--space-base);
}
.margin-x-m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}
.margin-x-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}
.margin-x-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}
.margin-x-xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}  */
